<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CMutationObserver"
            crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

<div id="app">
    <div class="border-top">{{ title }}</div>
    <button v-on:click="refresh" class="btn btn-primary">Refresh server status
    </button>
    <table class="table">
        <tr v-for="server_status">
            <td>{{ server_status.status }}</td>
        </tr>
    </table>
</div>

<div id="add">
    <div class="border-top">Comment</div>
    <form @submit.prevent="addHandler">
        <div class="form-row">
            <div class="col">
                <label>Name</label>
                <input
                        class="form-control"
                        v-model="form.name"
                        type="text"
                        required
                        placeholder="Please set user name">
            </div>
            <div class="col">
                <label>Comment</label>
                <input
                        class="form-control"
                        v-model="form.comment"
                        type="text"
                        title="comment"
                        placeholder="Please write comment.">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit
            </button>
        </div>
    </form>

    <pre>{{ result }}</pre>
</div>

<div id="latest">
    <div class="border-top">Latest comment list(Auto reload: 3sec period)</div>
    <button v-on:click="get_latest" class="btn btn-primary">latest comments</button>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tr v-for="comment in latest_comments.response">
            <td>{{ comment.time }}</td>
            <td>{{ comment.name }}</td>
            <td>{{ comment.comment }}</td>
            <td>
                <button v-on:click="save_to_diary(comment)" class="btn btn-success btn-sm">Save to Diary</button>
            </td>
        </tr>
    </table>
    <div v-if="save_message" class="alert alert-success">{{ save_message }}</div>
</div>

<div id="all">
    <div class="border-top">All comment list</div>
    <button v-on:click="get_all" class="btn btn-primary">all comments
    </button>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tr v-for="comment in all_comments.response">
            <td>{{ comment.stream_seq_id }}</td>
            <td>{{ comment.name }}</td>
            <td>{{ comment.comment }}</td>
        </tr>
    </table>
</div>

<div id="diary">
    <div class="border-top">My Diary</div>
    <div class="form-row mb-3">
        <div class="col-md-4">
            <label>Your Diary Username</label>
            <input
                    class="form-control"
                    v-model="diary_user"
                    type="text"
                    placeholder="Enter your diary username">
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button v-on:click="get_diary_entries" class="btn btn-info">Load My Diary</button>
        </div>
    </div>

    <table class="table" v-if="diary_entries.length > 0">
        <thead>
        <tr>
            <th scope="col">Saved Time</th>
            <th scope="col">Original Author</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tr v-for="entry in diary_entries">
            <td>{{ formatTime(entry.saved_time) }}</td>
            <td>{{ entry.original_name }}</td>
            <td>{{ entry.comment }}</td>
            <td>
                <button v-on:click="delete_diary_entry(entry)" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
    </table>
    <div v-if="diary_entries.length === 0 && diary_user" class="alert alert-info">
        No diary entries yet. Save some chat messages to your diary!
    </div>
    <div v-if="diary_message" class="alert alert-info">{{ diary_message }}</div>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            title: "Chat powerd by DynamoDB",
            server_status: []
        },
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            'Access-Control-Allow-Origin': '*',
        },
        methods: {
            refresh: function (e) {
                axios.get('http://localhost:8080/', {}).then(
                    response => {
                    this.server_status = response.data;
            })
                ;
            }
        }
    });
</script>

<script>
    var add = new Vue({
        el: "#add",
        data() {
            return {
                form: {},
                result: {},
                url: {},
                latest_comments: {},
                latest_id: ''
            }
        },
        methods: {
            addHandler: function () {
                this.onsubmit();
            },
            onsubmit: function () {
                axios.post('http://localhost:8080/chat/comments/add', {
                    name: this.form.name,
                    comment: this.form.comment
                }).then(
                    response => {
                    this.result = Object.assign({}, this.form, this.server_status = response.data);
                this.url = 'http://localhost:8080/chat/comments/latest/' + this.result.comment_seq_id;
                /*
                axios.get(this.url, {}).then(
                    response => {
                    this.latest_comments = response.data;
                });*/
            })

            }
        }
    });
</script>

<script>
    var latest_comments = new Vue({
        el: "#latest",
        data: {
            latest_comments: [],
            save_message: ''
        },
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            'Access-Control-Allow-Origin': '*',
        },
        "methods": {
            get_latest: function (e) {
                axios.get('http://localhost:8080/chat/comments/latest', {}).then(
                    response => {
                    this.latest_comments = response.data;
            })
                ;
            },
            save_to_diary: function (comment) {
                var diary_user = diary_vue.diary_user;
                if (!diary_user) {
                    alert('Please enter your diary username in the "My Diary" section first!');
                    return;
                }
                axios.post('http://localhost:8080/diary/save', {
                    user_name: diary_user,
                    original_name: comment.name,
                    original_time: comment.time,
                    comment: comment.comment,
                    chat_room: comment.chat_room || 'chat'
                }).then(
                    response => {
                    this.save_message = 'Saved to diary!';
                    setTimeout(() => { this.save_message = ''; }, 2000);
                    diary_vue.get_diary_entries();
                }).catch(error => {
                    alert('Error saving to diary: ' + error.message);
                });
            }
        },
        mounted: function () {
            setInterval(this.get_latest, 3000)
        },
        destroyed: function () {
        }
    });
</script>

<script>
    var all_comments = new Vue({
        el: "#all",
        data: {
            all_comments: []
        },
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            'Access-Control-Allow-Origin': '*',
        },
        methods: {
            get_all: function (e) {
                axios.get('http://localhost:8080/chat/comments/all', {}).then(
                    response => {
                    this.all_comments = response.data;
            })
                ;
            }
        }
    });
</script>

<script>
    var diary_vue = new Vue({
        el: "#diary",
        data: {
            diary_user: '',
            diary_entries: [],
            diary_message: ''
        },
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            'Access-Control-Allow-Origin': '*',
        },
        methods: {
            get_diary_entries: function () {
                if (!this.diary_user) {
                    this.diary_message = 'Please enter your diary username first.';
                    return;
                }
                axios.get('http://localhost:8080/diary/entries/' + this.diary_user, {}).then(
                    response => {
                    this.diary_entries = response.data.response;
                    this.diary_message = '';
                }).catch(error => {
                    this.diary_message = 'Error loading diary: ' + error.message;
                });
            },
            delete_diary_entry: function (entry) {
                if (!confirm('Are you sure you want to delete this diary entry?')) {
                    return;
                }
                axios.post('http://localhost:8080/diary/delete', {
                    user_name: this.diary_user,
                    saved_time: entry.saved_time
                }).then(
                    response => {
                    this.diary_message = 'Entry deleted!';
                    setTimeout(() => { this.diary_message = ''; }, 2000);
                    this.get_diary_entries();
                }).catch(error => {
                    this.diary_message = 'Error deleting entry: ' + error.message;
                });
            },
            formatTime: function (timestamp) {
                var date = new Date(parseFloat(timestamp) * 1000);
                return date.toLocaleString();
            }
        }
    });
</script>
</body>
</html>
