<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CMutationObserver"
            crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

<div id="app">
    <div class="border-top">{{ title }}</div>
    <button v-on:click="refresh" class="btn btn-primary">Refresh server status
    </button>
    <table class="table">
        <tr v-for="server_status">
            <td>{{ server_status.status }}</td>
        </tr>
    </table>
</div>

<div id="add">
    <div class="border-top">Comment</div>
    <form @submit.prevent="addHandler">
        <div class="form-row">
            <div class="col">
                <label>Name</label>
                <input
                        class="form-control"
                        v-model="form.name"
                        type="text"
                        required
                        placeholder="Please set user name">
            </div>
            <div class="col">
                <label>Comment</label>
                <input
                        class="form-control"
                        v-model="form.comment"
                        type="text"
                        title="comment"
                        placeholder="Please write comment."
                        @input="onTyping">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit
            </button>
        </div>
    </form>

    <pre>{{ result }}</pre>
</div>

<div id="latest">
    <div class="border-top">Latest comment list (Real-time via WebSocket)</div>
    <button v-on:click="get_latest" class="btn btn-primary">latest comments</button>
    <span class="ml-2" :class="{'text-success': ws_connected, 'text-danger': !ws_connected}">
        {{ ws_connected ? 'Connected' : 'Disconnected' }}
    </span>

    <div v-if="typing_users_list.length > 0" class="typing-indicator text-muted mt-2">
        <em>{{ typing_users_list.join(', ') }} {{ typing_users_list.length === 1 ? 'is' : 'are' }} typing...</em>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tr v-for="comment in latest_comments.response">
            <td>{{ comment.time }}</td>
            <td>{{ comment.name }}</td>
            <td>{{ comment.comment }}</td>
        </tr>
    </table>
</div>

<div id="all">
    <div class="border-top">All comment list</div>
    <button v-on:click="get_all" class="btn btn-primary">all comments
    </button>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tr v-for="comment in all_comments.response">
            <td>{{ comment.stream_seq_id }}</td>
            <td>{{ comment.name }}</td>
            <td>{{ comment.comment }}</td>
        </tr>
    </table>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            title: "Chat powerd by DynamoDB",
            server_status: []
        },
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            'Access-Control-Allow-Origin': '*',
        },
        methods: {
            refresh: function (e) {
                axios.get('http://localhost:8080/', {}).then(
                    response => {
                    this.server_status = response.data;
            })
                ;
            }
        }
    });
</script>

<script>
    var add = new Vue({
        el: "#add",
        data() {
            return {
                form: { name: '', comment: '' },
                result: {}
            }
        },
        methods: {
            addHandler: function () {
                if (this.form.name && this.form.comment) {
                    if (window.latest_comments && window.latest_comments.ws &&
                        window.latest_comments.ws.readyState === WebSocket.OPEN) {
                        window.latest_comments.ws.send(JSON.stringify({
                            type: 'comment',
                            name: this.form.name,
                            comment: this.form.comment
                        }));

                        window.latest_comments.current_user = this.form.name;

                        this.result = { state: 'Comment sent!', time: new Date().toISOString() };
                        this.form.comment = '';
                    } else {
                        var self = this;
                        axios.post('http://localhost:8080/chat/comments/add', {
                            name: this.form.name,
                            comment: this.form.comment
                        }).then(function(response) {
                            self.result = Object.assign({}, self.form, response.data);
                            self.form.comment = '';
                        });
                    }
                }
            },
            onTyping: function() {
                if (window.latest_comments) {
                    window.latest_comments.current_user = this.form.name;
                    window.latest_comments.handle_typing();
                }
            }
        }
    });
</script>

<script>
    var latest_comments = new Vue({
        el: "#latest",
        data: {
            latest_comments: [],
            ws: null,
            typing_users: {},
            current_user: '',
            is_typing: false,
            typing_timer: null,
            ws_connected: false
        },
        computed: {
            typing_users_list: function() {
                return Object.keys(this.typing_users).filter(function(user) {
                    return this.typing_users[user];
                }, this);
            }
        },
        methods: {
            connect_websocket: function() {
                var self = this;
                var protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
                var ws_url = protocol + '//' + window.location.host + '/';

                self.ws = new WebSocket(ws_url);

                self.ws.onopen = function() {
                    console.log('WebSocket connected');
                    self.ws_connected = true;
                    self.ws.send(JSON.stringify({
                        type: 'join',
                        user: self.current_user || 'Anonymous'
                    }));
                };

                self.ws.onmessage = function(event) {
                    var data = JSON.parse(event.data);
                    console.log('WebSocket message:', data);

                    if (data.type === 'new_comment') {
                        if (!self.latest_comments.response) {
                            self.latest_comments.response = [];
                        }
                        self.latest_comments.response.unshift({
                            time: data.time,
                            name: data.name,
                            comment: data.comment
                        });
                        if (self.latest_comments.response.length > 20) {
                            self.latest_comments.response.pop();
                        }
                    } else if (data.type === 'typing') {
                        self.$set(self.typing_users, data.user, data.is_typing);
                    } else if (data.type === 'user_joined' || data.type === 'user_left') {
                        console.log(data.user + ' ' + (data.type === 'user_joined' ? 'joined' : 'left') + ' the chat');
                    }
                };

                self.ws.onclose = function() {
                    console.log('WebSocket disconnected, attempting reconnect...');
                    self.ws_connected = false;
                    setTimeout(function() {
                        self.connect_websocket();
                    }, 3000);
                };

                self.ws.onerror = function(error) {
                    console.error('WebSocket error:', error);
                };
            },

            send_typing_indicator: function(is_typing) {
                if (this.ws && this.ws.readyState === WebSocket.OPEN) {
                    this.ws.send(JSON.stringify({
                        type: 'typing',
                        user: this.current_user || 'Anonymous',
                        is_typing: is_typing
                    }));
                }
            },

            handle_typing: function() {
                var self = this;
                if (!self.is_typing) {
                    self.is_typing = true;
                    self.send_typing_indicator(true);
                }

                clearTimeout(self.typing_timer);
                self.typing_timer = setTimeout(function() {
                    self.is_typing = false;
                    self.send_typing_indicator(false);
                }, 1000);
            },

            get_latest: function (e) {
                var self = this;
                axios.get('http://localhost:8080/chat/comments/latest', {}).then(
                    function(response) {
                        self.latest_comments = response.data;
                    }
                );
            }
        },
        mounted: function () {
            this.connect_websocket();
            this.get_latest();
        },
        destroyed: function () {
            if (this.ws) {
                this.ws.close();
            }
        }
    });
</script>

<script>
    var all_comments = new Vue({
        el: "#all",
        data: {
            all_comments: []
        },
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            'Access-Control-Allow-Origin': '*',
        },
        methods: {
            get_all: function (e) {
                axios.get('http://localhost:8080/chat/comments/all', {}).then(
                    response => {
                    this.all_comments = response.data;
            })
                ;
            }
        }
    });
</script>
</body>
</html></body>
